:root{
    --main-color:rgb(55, 81, 126);
}

.hero-section{
    background-color :var(--main-color);
}
 .navbar a{
color: white !important;
}
.dropdown-menu a{
    color: black !important;
}
.animated-image{
    animation: move 1s linear infinite alternate;
}
@keyframes move{
    from{
   transform: translateY(0);

    }to{
transform: translateY(10px);
    }
}
.text-blue{
    color:var(--main-color) !important;
}
.grayline{
    width: 140px;
    height: 3px;
    background-color: lightgray;
    margin: auto;
    position: relative;
}
.blueline{
    width: 45%;
    height: 3px;
    background-color: var(--bs-info);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bg-blue{
    background-color: var(--main-color) !important;
}
.research-section :hover img{
transform: scale(1.1);
}
.research-section img{
    transition: all 0.4s;
}
.research-section{
    overflow: hidden;
}
.content{
    z-index: 1;
}
.research-section :hover .content{
transform: translateY(-10px);
}
.research-section .content{
    transition: all 0.4s;
}
.call-section{
 background: linear-gradient(to right,rgba(55, 81, 126,0.7),rgba(55, 81, 126,0.7)), url('https://bootstrapmade.com/content/demo/Arsha/assets/img/bg/bg-8.webp');
}
.animation-section{
    overflow: hidden;
}

.box-area{
bottom: -110px;
transition: all 0.4s;
background-color: rgba(255,255,255,0.8);
}
.animation-section:hover .box-area{
    bottom: -0px;
}
.social-apps i{
 height: 40px;
 width: 40px;
 display: flex;
 align-items: center;
 justify-content:center ;
 border-radius: 20px;
 transition: all 0.3s;
}
  .social-apps i:hover{
   background-color: rgb(67, 176, 244);
   color: white;
  }
 .questions :hover {
 color: rgb(67, 176, 244); ;
 }
 .blog-content{
    overflow: hidden;
   position: relative;
 }

 .blog-content img{
     transition: all 0.4s;
 }
 .blog-content h5 ,.blog-content a{
    transition: all 0.4s;
 }
 .blog-content:hover img{
    transform: scale(1.1);
    cursor: pointer;
 }
.blog-content:hover h5 ,.blog-content   :hover a{
 color: var(--bs-info) !important;

 cursor: pointer;
}

.date{
    height: 30px;
    width: 100px;
    background-color: red;
    font-size: 15px;
    color: white;
    z-index: 2;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fs-sm{
 font-size: 1.2rem;
}
.arrow{
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgb(67, 176, 244) !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* .. */
    /* .. */