:root{
    --main-color:#37517E;
}

.hero-section{
    background-color :var(--main-color);
}
 .navbar a{
color: white !important;
}
.dropdown-menu a{
    color: black !important;
}
.animated-image{
    animation: move 1s linear infinite alternate;
}
@keyframes move{
    from{
   transform: translateY(0);

    }to{
transform: translateY(10px);
    }
}
.text-blue{
    color:var(--main-color) !important;
}
.grayline{
    width: 140px;
    height: 3px;
    background-color: lightgray;
    margin: auto;
    position: relative;
}
.blueline{
    width: 45%;
    height: 3px;
    background-color: var(--bs-info);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bg-blue{
    background-color: var(--main-color) !important;
}
.research-section :hover img{
transform: scale(1.1);
}
.research-section img{
    transition: all 0.4s;
}
.research-section{
    overflow: hidden;
}
.content{
    z-index: 1;
}
.research-section :hover .content{
transform: translateY(-10px);
}
.research-section .content{
    transition: all 0.4s;
}